#web {
    width: calc(100% - 35px);
    float: left;
}

#web-img {
    float: left;
    /*margin-top: 45px;*/
}

#loading {
    position: absolute;
    top: calc(65%);
    left: calc(46%);
    clear: left;
}

