.nav-link {
    text-decoration-line: none;
    color: #5C6BC0;
}

.nav-link .mdui-card-header-title:hover {
    color: #6200ea;
}

.mdui-card-header-subtitle {
    color: #9E9E9E;
}

.mdui-card {
    border-radius: 3px;
}
section {
    padding-left: 10px;
}