.mdui-row {
    margin-top: 100px;
}

.mdui-card-content {
    margin-top: -30px;
}

.mdui-card-actions {
    clear: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

#yzm {
    width: calc(100% - 100px);
    float: left;
}

#yzm-img {
    margin-top: 38px;
}