{{ define "admin-item.html" }}
  <!DOCTYPE html>
  <html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="/static/css/adminlte.min.css">
      <link rel="stylesheet" href="/static/css/bootstrap-table.css">
      <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
      <link rel="stylesheet" href="/static/css/admin-user.css">
      <link rel="stylesheet" href="/static/css/admin-item.css">
  </head>
  <body class="mdui-appbar-with-toolbar mdui-theme-primary-red mdui-theme-accent-pink mdui-drawer-body-left">
  <header class="appbar mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
      <a id="menu" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white">
        <i class="mdui-icon material-icons">menu</i>
      </a>
      <a href="javascript:;" class="mdui-typo-headline mdui-text-color-white">{{ .title }} 后台管理</a>
      <div class="mdui-toolbar-spacer"></div>

        <a href="/" target="_blank" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '前台首页'}">
          <i class="mdui-icon material-icons">home</i>
        </a>

      <a href="/login-out" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出登录'}">
          <i class="mdui-icon material-icons">call_missed_outgoing</i>
      </a>
    </div>
  </header>

  <aside class="mdui-drawer" id="mdui-drawer">
    <ul class="mdui-list" mdui-collapse="{accordion: true}">
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">people</i>
            <a href="/admin" class="mdui-list-item-content">用户管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">device_hub</i>
            <a href="/admin-type" class="mdui-list-item-content">分组管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-cyan">apps</i>
            <div class="mdui-list-item-content">项目管理</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
            <a href="/admin-set" class="mdui-list-item-content">页面设置</a>
        </li>
    </ul>
  </aside>

    <section>
        <div id="toolbar">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red" onclick="addType()">新增项目</button>
        </div>
        <table id="user-manager"></table>
    </section>
  <form action="" id="additemform" onsubmit="return false">
    <div class="mdui-dialog" id="newItem">
      <div class="mdui-dialog-title">添加一个项目</div>
      <div class="mdui-dialog-content">
          <div class="row">
              <div class="mdui-col-xs-12 mdui-col-md-12">
                  <div class="mdui-textfield">
                      <label class="mdui-textfield-label" for="webname">网站名称 *</label>
                      <input class="mdui-textfield-input" type="text" name="webname" id="webname"/>
                  </div>
              </div>
              <div class="mdui-col-xs-12 mdui-col-md-12">
                  <div class="mdui-textfield">
                      <label class="mdui-textfield-label" for="note">网站说明 *</label>
                      <input class="mdui-textfield-input" type="text" name="note" id="note"/>
                  </div>
              </div>
              <div class="mdui-col-xs-12 mdui-col-md-12">
                  <div class="mdui-textfield" id="ico-link">
                      <label class="mdui-textfield-label" for="web" required>网址 *</label>
                      <input class="mdui-textfield-input" type="url" name="web" id="web" onchange="get_web_ico(this.value)"/>
                      <div class="mdui-textfield-error">网址格式错误</div>
                      <img src="/static/web_icon.png" alt="图标" id="web-img" width="32" height="32">
                  </div>
              </div>
          </div>
          <div class="mdui-textfield">
              <label class="mdui-textfield-label" for="typeId">所属分组 *</label>
              <select class="mdui-select" id="typeId" name="typeId">
                  {{ range $t := .type }}
                      <option value="{{ $t.Id }}" selected>{{ $t.Name }}</option>
                  {{ end }}
              </select>
          </div>
          <div class="mdui-textfield">
              <label class="mdui-textfield-label" for="auth">访问权限 *</label>
              <select class="mdui-select" id="auth" name="auth">
                  <option value="0" selected>普通用户</option>
                  <option value="1">高级会员</option>
                  <option value="2">超级管理员</option>
              </select>
          </div>
      </div>
      <div class="mdui-dialog-actions">
          <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>取消</button>
          <button class="mdui-btn mdui-ripple" name="sublime">新增</button>
      </div>
  </div>
  </form>
  <script src="/static/js/mdui.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/fontawesome/js/all.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/bootstrap-table.js"></script>
  <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
  <script src="/static/js/sweetalert2.all.min.js"></script>
  <script src="/static/js/admin-item.js"></script>
  </body>
  </html>
{{ end }}