{{ define "login.html" }}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }} - 登录</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div class="mdui-col-xs-10 mdui-col-offset-xs-1 mdui-col-sm-6 mdui-col-offset-sm-3">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">登录 {{ .title }}</div>
                </div>
                <div class="mdui-card-content">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons fa-regular fa-user"></i>
                        <label class="mdui-textfield-label">用户名</label>
                        <input class="mdui-textfield-input" type="text" id="user"/>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons fa-solid fa-key"></i>
                        <label class="mdui-textfield-label">密码</label>
                        <input class="mdui-textfield-input" type="password" id="pwd"/>
                    </div>
                    <div id="yzm">
                        <div class="mdui-textfield mdui-textfield-floating-label">
                                <i class="mdui-icon material-icons fa-solid fa-terminal"></i>
                                <label class="mdui-textfield-label">验证码</label>
                                <input class="mdui-textfield-input" type="text" id="code"/>
                        </div>
                    </div>
                    <div id="yzm-img">
                        <img src="" alt="验证码" width="100px" height="38px" id="code-img">
                    </div>
                </div>
                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-ripple mdui-color-indigo" id="login">登录</button>
                    <a href="/register" class="mdui-btn mdui-ripple mdui-text-color-pink">还没账号，去注册</a>
                    <a href="/" class="mdui-btn mdui-ripple">不想登录，返回主页</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/static/js/mdui.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/fontawesome/js/all.min.js"></script>
    <script src="/static/js/sweetalert2.all.min.js"></script>
    <script src="/static/js/aes-min.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>
{{ end }}